{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 2,
                "targets": {
                    "ie": 8
                }
            }
        ]
    ],
    "plugins": ["@babel/transform-runtime", "@babel/proposal-class-properties"]
}
